################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/KafkaBus/bin/Debug
/.vs
/KafkaBus/obj/Debug
/KafkaBus/project.lock.json
bin
obj
.pdb
.user
*.user
